<div class="pagination">
  <%= paginate @lyrics %>
</div>

<ul>
<% @lyrics.each do |l| %>
<li><%= link_to l.body.gsub("\n", " / "), lyric_path(l) %></li>
<% end %>
</ul>

<div class="pagination">
  <%= paginate @lyrics %>
</div>