<ul>
<% @lyrics.each do |l| %>
  <li style="margin-bottom: 30px"><%= link_to highlight(l.body.gsub("\n", " / "), params[:q]), lyric_path(l) %>
    <div style="margin-top: 8px; color: #444;">Interpretaciones: <%=raw occurrences_for(l) %></div>
  </li>
<% end %>
</ul>

<% if @lyrics.empty? && @albums.empty? && @tracks.empty? && @arists.empty? %>
 No hay resultados para tu búsqueda.
<% end %>