<form style="width: 50%; margin: 0 auto; margin-top: 100px" action="/search">
  <p style="font-size: 120%">Buscar letras, albumes o artistas</p>
  <input style="font-size: 200%; width: 100%" type="text" name="q">
</form>